<div class="login-container">
  <img class="login-image" src="assets\Images\qiem.png" alt="Image de connexion">
  <h2>Connexion</h2>
  <form (submit)="onSubmit($event)" #loginForm="ngForm">
    <div class="input-field">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" name="username" placeholder="Entrez votre nom d'utilisateur" [(ngModel)]="username" #usernameField="ngModel" required>
      <small class="error-message" *ngIf="usernameField.invalid && usernameField.touched">Ce champ est requis.</small>
    </div>
    <div class="input-field">
      <label for="password">Mot de passe:</label>
      <input type="password" id="password"  name="password" placeholder="Entrez votre mot de passe" [(ngModel)]="password" #passwordField="ngModel" required>
      <small class="error-message" *ngIf="passwordField.invalid && passwordField.touched">Ce champ est requis.</small>
    </div>
    <button class="submit-button" type="submit" [disabled]="!loginForm.form.valid">
      <i class="fas fa-sign-in-alt"></i> Se connecter
    </button>
  </form>
</div>
